@import url("https://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans");
.background0 {
  background: url(https://static1.squarespace.com/static/501bb93ec4aa651f100e3b0f/501bb93ec4aa651f100e3b15/5867c6a5c534a514406fffb8/1483700363008/FullSizeRender+27.jpg?format=2500w);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: bottom; }

.background1 {
  background: url(https://static1.squarespace.com/static/501bb93ec4aa651f100e3b0f/501bb93ec4aa651f100e3b15/57ff86aa414fb54338507183/1483700363019/FullSizeRender+15.jpg?format=2500w);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: bottom; }

.background2 {
  background: url(https://static1.squarespace.com/static/501bb93ec4aa651f100e3b0f/501bb93ec4aa651f100e3b15/56166537e4b042d6d89f5bf2/1483700363092/?format=2500w);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: top; }

.background3 {
  background: url(https://static1.squarespace.com/static/501bb93ec4aa651f100e3b0f/501bb93ec4aa651f100e3b15/57fc1dab2e69cfddffb3e36c/1483700363089/FullSizeRender+13.jpg?format=2500w);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center; }

.background4 {
  background: url(https://static1.squarespace.com/static/501bb93ec4aa651f100e3b0f/501bb93ec4aa651f100e3b15/560d566fe4b0edc898c490b5/1483700363098/?format=2500w);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center; }

.background5 {
  background: url(https://static1.squarespace.com/static/501bb93ec4aa651f100e3b0f/501bb93ec4aa651f100e3b15/5810b32b2e69cf6ad159a5d6/1483700363102/FullSizeRender+23.jpg?format=2500w);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center; }

.background6 {
  background: url(https://static1.squarespace.com/static/501bb93ec4aa651f100e3b0f/501bb93ec4aa651f100e3b15/51fc31b6e4b00f4020e95e77/1483700363149/IMG_1490.jpg?format=2500w);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center; }

.background7 {
  background: url(https://static1.squarespace.com/static/501bb93ec4aa651f100e3b0f/501bb93ec4aa651f100e3b15/518e9807e4b0e86c59620572/1483700363157/IMG_1123.jpg?format=2500w);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center; }

.background8 {
  background: url(https://static1.squarespace.com/static/501bb93ec4aa651f100e3b0f/501bb93ec4aa651f100e3b15/55d48809e4b00fab3a96b56d/1483700363161/?format=2500w);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center; }

.background9 {
  background: url(https://static1.squarespace.com/static/501bb93ec4aa651f100e3b0f/501bb93ec4aa651f100e3b15/52ed161de4b00b0adad8bf46/1483700363165/IMG_2704.jpg?format=2500w);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center; }

.background10 {
  background: url(https://static1.squarespace.com/static/501bb93ec4aa651f100e3b0f/501bb93ec4aa651f100e3b15/55417695e4b086faa73e30c6/1483700363225/?format=2500w);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center; }

.background11 {
  background: url(https://static1.squarespace.com/static/501bb93ec4aa651f100e3b0f/501bb93ec4aa651f100e3b15/531e3a1ce4b00720a47985e5/1483700363238/IMG_2858.jpg?format=2500w);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center; }

.background12 {
  background: url(https://static1.squarespace.com/static/501bb93ec4aa651f100e3b0f/501bb93ec4aa651f100e3b15/560fffa5e4b0147725a6dcb6/1483700363273/?format=2500w);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center; }

h1 {
  padding-top: 10%;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  margin: 0; }

.home-nav {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 15vh;
  margin-top: 80vh;
  position: fixed; }
  .home-nav img {
    top: 20%;
    width: 200px;
    height: 70pxvh;
    position: relative; }
  .home-nav .links-div {
    display: inline;
    position: relative; }
  .home-nav a {
    margin: 0 2%;
    color: #AAAAAA;
    text-decoration: none;
    position: relative;
    font-family: 'Droid Sans', sans-serif;
    font-size: 1rem;
    top: 5%; }
  .home-nav a:hover {
    border-bottom: 1px solid white;
    padding-bottom: 2px; }

.top-nav {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 10vh;
  position: fixed;
  z-index: 1000; }
  .top-nav img {
    padding-left: 2%;
    top: 1vh;
    width: 8vh;
    height: 8vh;
    position: relative; }
  .top-nav .links-div {
    display: inline;
    margin-left: 15%;
    position: relative;
    bottom: 1.75vh; }
    @media (min-width: 1000px) {
      .top-nav .links-div {
        margin-left: 40%; } }
    @media (min-width: 1400px) {
      .top-nav .links-div {
        margin-left: 65%; } }
  .top-nav a {
    margin: 0 1%;
    color: #AAAAAA;
    text-decoration: none;
    position: relative;
    font-family: 'Droid Sans', sans-serif;
    font-size: 1rem; }
  .top-nav a:hover {
    border-bottom: 1px solid white;
    padding-bottom: 2px; }

.beer-tile {
  background-color: black;
  width: 31%;
  margin: 1%;
  position: relative;
  display: inline-block; }
  .beer-tile img {
    height: 20rem;
    width: 100%;
    opacity: .5;
    vertical-align: middle;
    object-fit: cover; }
  .beer-tile img:hover {
    opacity: .9; }
  .beer-tile span {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 45%;
    text-align: center;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: white; }

.beers-container {
  padding-top: 10vh;
  margin: 0 5%; }
  .beers-container .title {
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
    font-weight: bold; }
  .beers-container p {
    margin: 1% 5%;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75rem; }

.live-update-cans {
  display: inline-block;
  width: 49%;
  padding-top: 10vh; }
  .live-update-cans h1 {
    text-align: center; }

.live-update-growlers {
  display: inline-block;
  width: 49%;
  padding-top: 10vh; }
  .live-update-growlers h1 {
    text-align: center; }

body {
  margin: 0; }

/*# sourceMappingURL=style.css.map */
