.live-update {
  display: inline-block;
  width: 48%;
  margin-top: 10vh;
  padding: 0 1%;

  h1 {
    text-align: center;
  }

  span {
    font-family: 'Droid Sans', sans-serif;
  }

  .status {
    float: right;
  }

  .available {

  }

  .sold-out {
    background-color: rgba(0,0,0, .1);
  }

  .beer-display-tile {
    padding: 5px;
    margin: 6px;
    border-bottom: 1px solid rgba(0,0,0, .1);
    box-shadow: 4px 4px 4px rgba(0,0,0, .1);
  }

}

.on-tap-div{
  p {
    margin: 1% 5%;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75rem;
  }
}
